menu "servo configuration"
    # set pin numbers 
    # set servo min max pulse

config MICRO_SERVO_MIN_PULSEWIDTH
    int "micro servo minimum pulsewidth"
    default 500
    help
        sets the micro servo minimum pulsewidth

config MICRO_SERVO_MAX_PULSEWIDTH
    int "micro servo max pulsewidth"
    default 2400
    help
        sets the micro servo maximum pulsewidth

config SERVO_MIN_PULSEWIDTH
    int "servo minimum pulsewidth"
    default 500
    help 
        sets the servo minimum pulsewidth

config SERVO_MAX_PULSEWIDTH
    int "servo maximum pulsewidth"
    default 3000
    help 
        sets the servo maximum pulsewidth

config SERVO_MAX_DEGREE
    int "servo max degree"
    default 180
    help 
        sets the servo max degree

config SERVO_BASE
    int "base servo pin number"
    default 18
    help 
        sets the gpio for base servo

config SERVO_SHOULDER
    int "shoulder servo pin number"
    default 19
    help 
        sets the gpio for shoulder servo

config SERVO_ELBOW
    int "elbow servo pin number"
    default 21
    help 
        sets the gpio for elbow servo

endmenu