<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find simulation_gazebo)/urdf/manipulator.urdf -urdf -model manipulator"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  <rosparam file="$(find simulation_gazebo)/config/manipulator.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/manipulator"
    args="joint_state_controller
      joint_1_controller
      joint_2_controller
      joint_3_controller"
  />
  <param name="robot_description"  command="cat $(find simulation_gazebo)/urdf/manipulator.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/robot_joint_states" to="/manipulator/joint_states" />
  </node>
</launch>